
.profile-main {
    display: flex;
    flex-direction: row;
    justify-content:start;
} 

.profile-content {
	display: flex;
	flex-direction: row;
	/* justify-content:space-between; */
	/* background-color:grey; */
	/* color:aquamarine; */
	/* border-bottom-color: #02b875; */
	/* border-bottom-width: 10px; */
	border-bottom: 1px solid #02b875;
	background-color: #1c202b;
}


.tab-style {
	/* background-color: red */
	color: white;
	margin-right: 15px;
	padding: 8px;
}

.profile-last {
    display: flex;
    flex-direction: row;
    background-color: #1c202b;
    /* height: 100vh; */
}

.film-item {
    display : flex;
    flex-direction: row;
    width: 50%;
    margin: 10px 0px;
    color: white;
    border-bottom: 1px solid gray;
}

.tab-each {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* border: 1px solid #ffff; */
    
}

.opisanie {
    text-align: left;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}