.App-header {
    background-color: #1c202b;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    border-bottom: 1px solid #02b875;
  }
  